body {
    animation: change-color 10s infinite alternate;

}

@keyframes change-color {
    0% {
        background-color: antiquewhite;
    }

    50% {
        background-color: yellow;
    }

    100% {
        background-color: aquamarine;
    }
}

.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 80px auto;
    animation: skew 3s infinite alternate;
}

@keyframes skew {
    0% {
        transform: skew(0deg, 0deg);
    }

    100% {
        transform: skew(30deg, 20deg);
    }
}

.square {
    background-color: orangered;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 50px auto;
    transition: all 1s;
}

.square:hover {
    background-color: greenyellow;
    transform: rotate(30deg);
}

.button-div {
    text-align: center;
}

.button {
    color: white;
    background-color: green;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    text-decoration: none;
    display: inline-block;
    transition: all .5s;
}


.button:hover {
    background-color: greenyellow;
    color: black;
    transform: scale(1.5);
}


.loading{
    background-color: green;
    animation: stretch 5s 3 alternate;
    width: 80vw;
}

@keyframes stretch {
    0% {
        width: 100px;
    }

    100% {
        width: 80vw;
    }
}