/* CSS resets */

* {
    margin: 0;
    padding: 0;
}

/* respect user font size prefrences */
html {
    font-size: 100%;
}

/* General CSS */


body {
    background-color: #f5f5f5;
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;

}

header {
    padding: 6rem;
    margin-bottom: 3rem;
    /* background-color: aliceblue; */
    border-bottom: #000 1px solid;
    /* text-align:center */
}

header h1 {
    font-size: 3rem;
}

nav {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

nav a {
    text-decoration: none; 
    color: #000;
    display: inline-block;
    margin: 5rem;
}

main {}

.about-section, 
.portfolio-section, 
.contact-section {
    margin-bottom: 5rem;
}

.about-content, 
.portfolio-content,
 .contact-content {
        max-width: 50rem;
        margin: 0 auto;
        padding: 2rem 0;
}

.about-content h2, 
.portfolio-content h2,
 .contact-content h2 {
    margin: 2rem 0;

 }

.portfolio-item {
    margin-bottom: 5rem;
    background-color: #cacab5;
    padding: 2rem;
    text-align: justify;
    /* border: 2px #000 solid; */
    border-color: antiquewhite #cacab5 #000 ;
    border-radius: .5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
     
}

.portfolio-item img {
    max-width: 100%;
    margin:auto;
    display:block;
    border-radius: .5rem;
}

.portfolio-item h3 {
    margin: 1rem;
}

.portfolio-item p {
    font-size: 1.2rem;
}

.about-section {
    background-color: #ffff;
}

.portfolio-section {
    background-color: azure;
}


footer{
    background-color: #2b2b2b;
    color: #eee; 
    padding: 1rem
}

footer p {
    font-size:1rem; 
    text-align:end;
}